<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Virtual Vehicle</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    
    <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Staus
                        </div>
                        <div class="panel-body">
                            <p>{{CarInformation.status}}</p>
                        </div>
                    </div>
                </div>
    </div>     

    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                <!-- /.panel-heading -->
                <timeline></timeline>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-car fa-fw"></i> Information Panel
                </div>
                <!-- /.panel-heading -->
                <notifications></notifications> 
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <!--
            <chat></chat>
            -->
             <!-- /.panel .chat-panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
    
    <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Location {{marker.coords}}
                        </div>
                        <div class="panel-body">
                            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                                <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
                            </ui-gmap-google-map>
                        </div>
                    </div>
                </div>                
    </div>    
</div>
